<h1>PRODUCTO</h1>
<p>Producto: {{ products.title }}</p>
<p>Descripcion: {{ products.description }}</p>
<p>Precio: {{ products.price }}</p>
<p>Codigo: {{ products.code }}</p>
<p>Stock {{ products.stock }}</p>
<p>Categoria: {{ products.category }}</p>
<p>Status: {{ products.statusItem }}</p>