<div>

    <h1>Real Time Products</h1>
    <div>
        Product List:
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>price</th>
                    <th>thumbnails</th>
                    <th>code</th>
                    <th>stock</th>
                    <th>category</th>
                    <th>statusItem</th>
                </tr>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.thumbnails}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.statusItem}}</td>
                </tr>
                {{/each}}
            </tbody>
            </thead>
        </table>
    </div>

    <!-- Form to add a new product This is the way to add another template -->
    {{> productForm}}
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // Conectar al servidor de Socket.IO
        const socket = io()

        // Manage the event of successful connection
        socket.on('connect', () => {
            console.log('Connected to the server - Client')
        })

        // Manage the event of disconnection
        socket.on('disconnect', () => {
            console.log('Disconnected from the server - Client')
        })

        // Start listening for new messages
        const txtTitle = document.getElementById('txtTitle')
        const txtDescription = document.getElementById('txtDescription')
        const txtPrice = document.getElementById('txtPrice')
        const txtThumbnails = document.getElementById('txtThumbnails')
        const txtCode = document.getElementById('txtCode')
        const txtStock = document.getElementById('txtStock')
        const txtCategory = document.getElementById('txtCategory')
        const txtStatusItem = document.getElementById('txtStatusItem')
        const btnAddProduct = document.getElementById('btnAddProduct')


        btnAddProduct.addEventListener('click', () => {
            // Create Element With all the data
            const newProduct = {
                title: txtTitle.value,
                description: txtDescription.value,
                price: txtPrice.value,
                thumbnails: txtThumbnails.value,
                code: txtCode.value,
                stock: txtStock.value,
                category: txtCategory.value,
                statusItem: txtStatusItem.value
            }

            // Send the new product to the server
            socket.emit('newProduct', newProduct)
            location.reload()
        })
    </script>
</div>

<!-- Socket.io -->
<!-- <script src="/socket.io/socket.io.js"></script> -->
<!-- <script src="/src/public/js/index.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->